@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/mixins.scss';

.textAreaRoot {
    outline: transparent solid 2px;
    outline-offset: 2px;
    position: relative;
    appearance: none;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: 200ms;
    padding-inline-start: 0.625rem;;
    padding-inline-end: 0.625rem;;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    border-image: initial;
    border-color: #bbb5b5;
    @include generate-default-font(default);
}

.textAreaRoot:focus {
    border-width: 2px;
    border-color: rgba(66, 153, 225, 0.6);
}