// Common Color Palette

$black:#000000;
$white: #ffffff;

$grey220: #11100f;
$grey210: #161514;
$grey200: #1b1a19;
$grey180:#252423;
$grey150:#3b3a39;
$grey110: #8a8886;
$grey70: #bebbb8;
$grey30: #edebe9;

$darkblue: #004578;
$darkblueAlt: #106ebe;
$bluePrimary: #0078d4;
$blueSecondary: #2b88d8;
$blueTertiary: #71afe5;
$blueLight: #c7e0f4;

$redPrimary: #a80000;
$redSecondary: #d83b01;
$redTertiary: #8f595a;
$redLight: #bf9092;

$greenPrimary: #16683b;
$greenSecondary: #2c6746;
$greenTertiary: #416d55;
$greenLight: #6b987f;

$warning: #ffaa44;
$attention: #fed9cc;
$error: #c50f1f;
$success: #107c10;